
/* This is for our nav bar, to underline it */
nav a:hover {
    border-bottom: 2px solid white;
    border-left: 0cap;
    padding: 6px 0;
    width: fit-content;
}

/* for our logo */
.logo-rounded {
    border-radius: 5px;
}